@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="card card-custom card-stretch bg-gray-300" id="kt_page_stretched_card">
    <div class="card-header border-dark">
        <div class="card-title">
            <h2 class="card-label mr-0">Pagination TagHelper</h2>
            <div class="mb-0 mt-9">
                <p style="font-size:15px;">
                    <em class="font-weight-bolder">
                        By
                        <a href="https://github.com/raminghaffari" class="text-warning strokeme">Ramin Ghaffari</a>
                    </em>
                </p>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="card-scroll">
        </div>
    </div>
</div>
