
@{
    ViewData["Title"] = "Pagination TagHelper Theme";
}

<div class="card card-custom card-stretch bg-gray-300" id="kt_page_stretched_card">
    <div class="card-header border-dark">
        <div class="card-title">
            <h2 class="card-label mr-0">Pagination TagHelper</h2>
            <div class="mb-0 mt-9">
                <p style="font-size:15px;">
                    <em class="font-weight-bolder">
                        By
                        <a href="https://github.com/raminghaffari" class="text-warning strokeme">Ramin Ghaffari</a>
                    </em>
                </p>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="card-scroll">
            <p><em>Pagination TagHelper Has Two Themes, (Light And Dark)</em></p>
            <p><em>The Defult Theme Is Light And You Can Change It To the Dark By Set &nbsp; <code class="bg-gray-800 font-weight-bolder" style="font-size:100%;">rg-dark-mode</code> Attribute <code class="bg-gray-800 font-weight-bolder" style="font-size:100%;">True</code></em></p>
            <br />
            <h1 class="font-weight-bolder"> Example:</h1>
            <hr />
            <p><em>Default Theme :</em></p>
            <p>
                <a href="https://github.com/raminghaffari/TagHelpers">
                    <img style="max-width:100%;" src="~/Img/paginationlightmode.png"
                         alt="PaginationTaghelper RTLDrirection PersianLanguage" />
                </a>
            </p>
            <p><em>Dark Theme :</em></p>
            <p>
                <a href="https://github.com/raminghaffari/TagHelpers">
                    <img style="max-width:100%;" src="~/Img/paginationdarkmode.png"
                         alt="PaginationTaghelper DarkMode" />
                </a>
            </p>
        </div>
    </div>
</div>
