/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */




a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: var(--body-a-color);
}

.btn-primary {
    color: var(--body-color);
    background-color: var(--body-bgcolor);
    border-color: var(--body-border-color);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--body-color);
    background-color: var(--body-bgcolor);
    border-color: var(--body-border-color);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid var(--body-border-top-bottom-color);
}

.border-bottom {
    border-bottom: 1px solid var(--body-border-top-bottom-color);
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}


body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    --body-a-color: #0366d6;
    --body-color: #fff;
    --body-bgcolor: #1b6ec2;
    --body-border-color: #1861ac;
    --body-border-top-bottom-color: #e5e5e5;
    background-color: var(--body-color);
}

    body.dark {
        margin-bottom: 60px;
        --body-a-color: #1861ac;
        --body-color: #000000;
        --body-bgcolor: #1b6ec2;
        --body-border-color: #1861ac;
        --body-border-top-bottom-color: #e5e5e5;
        background-color: var(--body-color);
    }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.layout-spacing {
    background-color: #000000;
}

.table {
    color: #fff !important;
}
