@{
    ViewData["Title"] = "Pagination TagHelper Basic Setup";
}

<div class="card card-custom card-stretch bg-gray-300" id="kt_page_stretched_card">
    <div class="card-header border-dark">
        <div class="card-title">
            <h2 class="card-label mr-0">Pagination TagHelper</h2>
            <div class="mb-0 mt-9">
                <p style="font-size:15px;">
                    <em class="font-weight-bolder">
                        By
                        <a href="https://github.com/raminghaffari" class="text-warning strokeme">Ramin Ghaffari</a>
                    </em>
                </p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card-scroll">
            <h1 class="font-weight-bolder"> Default setup</h1>
            <hr />
            <p><em>Pagination TagHelper Requires Below Parameters To Render The Paging Control:</em></p>
            <pre class="language-html">
            <code class="language-html">
            <span class="token tag">
            <span class="token tag">
            <span class="token punctuation">&lt;</span>Paging-Tag</span><span class="token attr-name"> rg-total-record</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Model.TotalRow<span class="token punctuation">"</span></span>
            <span class="token attr-name">             rg-page-index</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Model.PageIndex<span class="token punctuation">"</span></span>
            <span class="token attr-name">             rg-page-size</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Model.PageSize<span class="token punctuation">"</span></span>
            <span class="token attr-name">             rg-show-page-of-pages-box</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>true<span class="token punctuation">"</span></span>
            <span class="token attr-name">             rg-show-page-size-nav</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>true<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span>
            <span class="token tag"><span class="token tag"><span class="token punctuation"> &lt;/</span>Paging-Tag</span><span class="token punctuation">&gt;</span></span>
             </span>
                </code></pre>
            <br />
            <p><em>Output:</em></p>
            <p>
                <a href="https://github.com/raminghaffari/TagHelpers">
                    <img style="max-width:100%;" src="~/Img/DefultPagination.png"
                         alt="PaginationTaghelper DarkMode" />
                </a>
            </p>
        </div>
    </div>
</div>