@{
    ViewData["Title"] = "Pagination TagHelper";
}




<div class="card card-custom card-stretch bg-gray-300" id="kt_page_stretched_card">
    <div class="card-header border-dark">
        <div class="card-title">
            <h2 class="card-label mr-0">Pagination TagHelper</h2>
            <div class="mb-0 mt-9">
                <p style="font-size:15px;">
                    <em class="font-weight-bolder">
                        By
                        <a href="https://github.com/raminghaffari" class="text-warning strokeme">Ramin Ghaffari</a>
                    </em>
                </p>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="card-scroll">
            <h1 class="font-weight-bolder"> What is it?</h1>
            <hr />
            <p><em>Create a pagination control styled with bootstrap 4.x && 5.x using simple html tag</em></p>
            <br />
            <h1 class="font-weight-bolder"> Installation:</h1>
            <hr />
            <p><em>Install via nuget package manager :</em></p>
            <pre class="language-html">
            <code class="language-html">Sample text here...</code>
            </pre>
            <p><em>Then add to _ViewImports.cshtml :</em></p>
            <pre class="language-html"> <span class="text-danger">&commat;addTagHelper </span>*, Rg.TagHelpers</pre>
            <br />
            <h1 class="font-weight-bolder"> Example:</h1>
            <hr />
            <p><em>Dark Mode :</em></p>
            <p>
                <a href="https://github.com/raminghaffari/TagHelpers">
                    <img style="max-width:100%;" src="~/Img/paginationdarkmode.png"
                         alt="PaginationTaghelper DarkMode" />
                </a>
            </p>
            <p><em>RTL Direction With Persian Language :</em></p>
            <p>
                <a href="https://github.com/raminghaffari/TagHelpers">
                    <img style="max-width:100%;" src="~/Img/paginationlightmode.png"
                         alt="PaginationTaghelper RTLDrirection PersianLanguage" />
                </a>
            </p>
        </div>
    </div>
</div>