
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>Ramin Ghaffari - Coming Soon</title>

    <!-- Loading third party fonts -->
    <link href="~/ComingSoon/fonts/font-awesome.min.css" rel="stylesheet" />
    <!-- Loading main css file -->
    <link href="~/ComingSoon/style.css" rel="stylesheet" />

</head>


<body>

    <div class="site-content">

        <header class="site-header">
            <div class="container shrinked">
                <a asp-action="Index" asp-controller="Docs" class="button">Documents</a>
                <h1 class="logo"><a href="index.html">Ramin Ghaffari</a></h1>
                <a href="#" class="button">Contact Us</a>
            </div> <!-- .container -->
        </header> <!-- .site-header -->

        <main class="main-content">
            <div class="container shrinked">
                <h1 class="section-title center-aligned">
                    We are preparing something new. <br> <span>Stay tuned!</span>
                </h1>

                <div class="counter-wrap" data-date-target="March 21, 2022 10:00:00">
                    <div class="counter days">
                        <div class="number">00</div>
                        <div class="caption">Days</div>
                    </div> <!-- .counter -->
                    <div class="counter hours">
                        <div class="number">00</div>
                        <div class="caption">Hours</div>
                    </div> <!-- .counter -->
                    <div class="counter minutes">
                        <div class="number">00</div>
                        <div class="caption">Minutes</div>
                    </div> <!-- .counter -->
                    <div class="counter seconds">
                        <div class="number">00</div>
                        <div class="caption">Seconds</div>
                    </div> <!-- .counter -->
                </div> <!-- .counter-wrap -->

            </div> <!-- .container -->
        </main> <!-- .main-content -->

        <footer class="site-footer">
            <div class="container shrinked">

                <form action="#" class="subscribe-form">
                    <input type="text" placeholder="Enter your email to join our newsletter">
                    <i class="fa fa-envelope"></i>
                    <input type="submit" value="Subscribe!">
                </form> <!-- .subscribe-form -->

                <div class="social-links">
                    <a target="_blank" href="https://www.instagram.com/raminghaffarii"><i class="fa fa-instagram"></i></a>
                    <a target="_blank" href="https://twitter.com/Raminghaffarii"><i class="fa fa-twitter"></i></a>
                    <a target="_blank" href="https://www.youtube.com/channel/UCfftInTQWLh_5oXjf1e2LxA"><i class="fa fa-youtube"></i></a>
                    <a target="_blank" href="https://github.com/raminghaffari"><i class="fa fa-github"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/in/raminghaffarii/"><i class="fa fa-linkedin"></i></a>
                </div> <!-- .social-links -->

                <div class="colophon">
                    &commat; Copyright 2022 <a href="http://raminghaffari.ir">Raminghaffari</a> . All right reserved
                </div>

            </div> <!-- .container -->
        </footer> <!-- .site-footer -->

    </div>

    <script src="~/ComingSoon/js/jquery-1.11.1.min.js"></script>
    <script src="~/ComingSoon/js/plugins.js"></script>
    <script src="~/ComingSoon/js/app.js"></script>

</body>

</html>