
@{
    ViewData["Title"] = "Pagination TagHelper Number Formats";
}

<div class="card card-custom card-stretch bg-gray-300" id="kt_page_stretched_card">
    <div class="card-header border-dark">
        <div class="card-title">
            <h2 class="card-label mr-0">Pagination TagHelper</h2>
            <div class="mb-0 mt-9">
                <p style="font-size:15px;">
                    <em class="font-weight-bolder">
                        By
                        <a href="https://github.com/raminghaffari" class="text-warning strokeme">Ramin Ghaffari</a>
                    </em>
                </p>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="card-scroll">
            <h1 class="font-weight-bolder"> Changing numbers format</h1>
            <hr />
            <p><em>Pagination taghelper provides a handy feature to display numbers in different formats (Farsi, Hindi, ...etc.)</em></p>
            <br />
            <p><em>Just Type The Name Of The Number Format Available The List Below Like : Mathbold</em></p>
            <pre class="language-html">
            <code class="language-html">
            <span class="token tag">
            <span class="token tag">
            <span class="token punctuation">&lt;</span>Paging-Tag</span><span class="token attr-name"> rg-total-record</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Model.TotalRow<span class="token punctuation">"</span></span>
            <span class="token attr-name">             rg-page-index</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Model.PageIndex<span class="token punctuation">"</span></span>
            <span class="token attr-name">             rg-page-size</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Model.PageSize<span class="token punctuation">"</span></span>
            <span class="token attr-name">             rg-show-page-of-pages-box</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>true<span class="token punctuation">"</span></span>
            <span class="token attr-name">             rg-show-page-size-nav</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>true<span class="token punctuation">"</span></span>
            <span class="token attr-name">             rg-number-format</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Mathbold<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span>
            <span class="token tag"><span class="token tag"><span class="token punctuation"> &lt;/</span>Paging-Tag</span><span class="token punctuation">&gt;</span></span>
                </span>
            </code></pre>
            <br />
            <p><em>Output:</em></p>
            <p>
                <a href="https://github.com/raminghaffari/TagHelpers">
                    <img style="max-width:100%;" src="~/Img/MathboldNumberFormat.png"
                         alt="PaginationTaghelper DarkMode" />
                </a>
            </p>
            <br />
            <h1 class="font-weight-bolder"> All available number formats :</h1>
            <hr />
            <pre class="language-html">
            <code class="language-html">
                   Default     // system default
                    Arabic      // 0 1 2 3 4 5 6 7 8 9
                    Hindi       // ٩ ٨ ٧ ٦ ٥ ٤ ٣ ٢ ١ ٠
                    Brah        // 𑁦 𑁧 𑁨 𑁩 𑁪 𑁫 𑁬 𑁭 𑁮 𑁯
                    Beng        // ০ ১ ২ ৩ ৪ ৫ ৬ ৭ ৮ ৯
                    Deva        // ० १ २ ३ ४ ५ ६ ७ ८ ९
                    Farsi       // ۰ ۱ ۲ ۳ ۴ ۵ ۶ ۷ ۸ ۹
                    Fullwide    // ０ １ ２ ３ ４ ５ ６ ７ ８ ９
                    Knda        // ೦ ೧ ೨ ೩ ೪ ೫ ೬ ೭ ೮ ೯
                    Gujr        // ૦ ૧ ૨ ૩ ૪ ૫ ૬ ૭ ૮ ૯
                    Guru        // ੦ ੧ ੨ ੩ ੪ ੫ ੬ ੭ ੮ ੯
                    Hanidec     // 〇 一 二 三 四 五 六 七 八 九
                    Java        // ꧐ ꧑ ꧒ ꧓ ꧔ ꧕ ꧖ ꧗ ꧘ ꧙
                    Khmr        // ០ ១ ២ ៣ ៤ ៥ ៦ ៧ ៨ ៩
                    Laoo        // ໐ ໑ ໒ ໓ ໔ ໕ ໖ ໗ ໘ ໙
                    Latin       // 0 1 2 3 4 5 6 7 8 9
                    Mathbold    // 𝟎 𝟏 𝟐 𝟑 𝟒 𝟓 𝟔 𝟕 𝟖 𝟗
                    Mathborder  // 𝟘 𝟙 𝟚 𝟛 𝟜 𝟝 𝟞 𝟟 𝟠 𝟡
                    Mathmono    // 𝟶 𝟷 𝟸 𝟹 𝟺 𝟻 𝟼 𝟽 𝟾 𝟿
                    Mathanb     // 𝟬 𝟭 𝟮 𝟯 𝟰 𝟱 𝟲 𝟳 𝟴 𝟵
                    Mathsans    // 𝟢 𝟣 𝟤 𝟥 𝟦 𝟧 𝟨 𝟩 𝟪 𝟫
                    Mlym        // ൦ ൧ ൨ ൩ ൪ ൫ ൬ ൭ ൮ ൯
                    Mong        // ᠐ ᠑ ᠒ ᠓ ᠔ ᠕ ᠖  ᠗ ᠘ ᠙
                    Mymr        // ၀ ၁ ၂ ၃ ၄ ၅ ၆ ၇ ၈ ၉
                    Mymrshan    // ႐ ႑ ႒ ႓ ႔ ႕ ႖ ႗ ႘ ႙
                    Mymtlng     // ꧰ ꧱ ꧲ ꧳ ꧴ ꧵ ꧶ ꧷ ꧸ ꧹
                    Nkoo        // ߀ ߁ ߂ ߃ ߄ ߅ ߆ ߇ ߈ ߉
                    Olck        // ᱐ ᱑ ᱒ ᱓ ᱔ ᱕ ᱖ ᱗ ᱘ ᱙
                    Orya        // ୦ ୧ ୨ ୩ ୪ ୫ ୬ ୭ ୮ ୯
                    Osma        // 𐒠 𐒡 𐒢 𐒣 𐒤 𐒥 𐒦 𐒧 𐒨 𐒩
                    Sinh        // ෦ ෧ ෨ ෩ ෪ ෫ ෬ ෭ ෮ ෯
                    Talu        // ᧐ ᧑ ᧒ ᧓ ᧔ ᧕ ᧖ ᧗ ᧘ ᧙
                    Tamldec     // ௦ ௧ ௨ ௩ ௪ ௫ ௬ ௭ ௮ ௯
                    Telu        // ౦ ౧ ౨ ౩ ౪ ౫ ౬ ౭ ౮ ౯
                    Thai        // ๐ ๑ ๒ ๓ ๔ ๕ ๖ ๗ ๘ ๙
                    Tibt        // ༠ ༡ ༢ ༣ ༤ ༥ ༦ ༧ ༨ ༩
                    Vaii        // ꘠ ꘡ ꘢ ꘣ ꘤ ꘥ ꘦ ꘧ ꘨ ꘩
                </code>  </pre>
        </div>
    </div>
</div>
